<div id="my-input-id" class="p-2">
  <div class="italic font-semibold">
    The data you enter can't be seen by anyone else, since it's in a WebAssembly
    sandbox. =)
  </div>
  <!-- when keyup fires, send this target.value to the template as a prop for rendering -->
  <form class="flex flex-col group" autocomplete="on" method="post">
    <!-- A new input text for encrypted seed that spans the whole width of both username and password -->
    <div class="flex-1">
      <div class="flex-1">Your Encrypted Seed:</div>
      <div class="flex">
        <input
          id="{{ input.id|on('input') }}"
          name="encrypted"
          data-context-name="encrypted"
          autocomplete="on"
          class="rounded w-full border border-amber-500 text-neutral-700 p-2 m-2 placeholder:Enter invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer"
          {% if input.encrypted_seed %}
              value="{{ input.encrypted_seed }}"
          {% endif %}
        />
      </div>
      <p>Seed from username and password using <a href="https://www.password-hashing.net/#argon2" target="_blank" class="underline text-blue-600">argon2<a>.</p>
    </div>
    <div class="flex-1">
      <div class="flex-1">Your Username:</div>
      <div class="flex">
        <input
          id="{{ input.id|on('input') }}"
          data-context-name="username"
          autocomplete="username"
          class="rounded w-full border border-blue-400 bg-blue-100 text-neutral-700 p-2 m-2 placeholder:Enter invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer"
          placeholder="{{input.placeholder}} <==  at least 8 characters"
          minlength="8"
          required
        />
        <span
          class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block"
        >
          must be at least 8 characters long
        </span>
      </div>
    </div>
    <div class="flex-1">
      <div class="flex-1">Password:</div>
      <div class="flex">
        <input
          id="{{ input.id|on('input') }}"
          data-context-name="password"
          type="password"
          autocomplete="current-password"
          placeholder="******** <==  at least 8 characters"
          class="rounded w-full border border-blue-400 bg-blue-100 text-neutral-700 p-2 m-2 placeholder:Enter invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer"
          minlength="8"
          required
        />
        <span
          class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block"
        >
          must be at least 8 characters long
        </span>
      </div>
    </div>
    <!-- Submit -->
    <div class="flex flex-col-reverse">
      <button
        id="{{ input.id|on('click') }}"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-2 m-2 rounded group-invalid:pointer-events-none group-invalid:opacity-30"
        data-context-name="submit"
      >
        Submit
      </button>
    </div>
  </form>
</div>
