<div id="my-input-id">
  <div class="italic font-semibold">
    The data you enter can't be seen by anyone else, since it's in a WebAssembly
    sandbox. =)
  </div>
  <!-- when keyup fires, send this target.value to the template as a prop for rendering -->
  <form class="flex group" autocomplete="on">
    <div class="flex-1">
      <div class="flex-1">Username:</div>
      <div class="flex-1">
        <input
          id="{{ input.username_input|on('keyup') }}"
          name="username"
          autocomplete="username"
          class="rounded border border-blue-400 bg-blue-100 text-neutral-700 p-2 m-2 placeholder:Enter invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer"
          placeholder="{{input.placeholder}}"
          minlength="8"
          required
        />
        <span
          class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block"
        >
          must be at least 8 characters long
        </span>
      </div>
    </div>
    <div class="flex-1">
      <div class="flex-1">Password:</div>
      <div class="flex-1">
        <input
          id="{{ input.password_input|on('keyup') }}"
          type="password"
          name="password"
          autocomplete="current-password"
          data-context="password"
          placeholder="********"
          class="rounded border border-blue-400 bg-blue-100 text-neutral-700 p-2 m-2 placeholder:Enter invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer"
          minlength="8"
          required
        />
        <span
          class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block"
        >
          must be at least 8 characters long
        </span>
      </div>
    </div>
    <!-- Submit -->
    <div class="flex flex-col-reverse">
      <button
        id="{{ input.submit|on('click') }}"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-2 m-2 rounded group-invalid:pointer-events-none group-invalid:opacity-30 group-invalid:disabled"
        name="submit"
        data-context="submit"
      >
        Submit
      </button>
    </div>
  </form>
</div>
